<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_event %><br>
    <%= f.text_field :name_event %>
  </div>
  <div class="field">
    <%= f.label :type_of_event %><br>
    <%= f.text_field :type_of_event %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :event_location %><br>
    <%= f.text_field :event_location %>
  </div>
  <div class="field">
    <%= f.label :event_price_all_in %><br>
    <%= f.text_field :event_price_all_in %>
  </div>
  <div class="field">
    <%= f.label :num_turnout %><br>
    <%= f.number_field :num_turnout %>
  </div>
  <div class="field">
    <%= f.label :comuna_event %><br>
    <%= f.text_field :comuna_event %>
  </div>
  <div class="field">
    <%= f.label :start_date_event %><br>
    <%= f.datetime_select :start_date_event %>
  </div>
  <div class="field">
    <%= f.label :ending_date_event %><br>
    <%= f.datetime_select :ending_date_event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>