<!DOCTYPE html>
<html lang="en">
  <br>
  <br>
  
  <body>
 
<img id="bg" src="<%= asset_path( 'Fondo_3.png') %>"  alt="background" />  
                 
</body>

<style type="text/css">
  #bg{
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
} 
</style>
<script type="text/javascript">
  
  window.onload = function() {
 
    function bgadj(){
             
        var element = document.getElementById("bg");
         
        var ratio =  element.width / element.height;   
         
        if ((window.innerWidth / window.innerHeight) < ratio){
         
            element.style.width = 'auto';
            element.style.height = '100%';
             
            <!-- si la imagen es mas ancha que la ventana la centro -->
            if (element.width > window.innerWidth){
             
                var ajuste = (window.innerWidth - element.width)/2;
                 
                element.style.left = ajuste+'px';
             
            }
         
        }
        else{  
         
            element.style.width = '100%';
            element.style.height = 'auto';
            element.style.left = '0';
 
        }
         
    }
<!-- llamo a la función bgadj() por primera vez al terminar de cargar la página -->
    bgadj();
    <!-- vuelvo a llamar a la función  bgadj() al redimensionar la ventana -->
    window.onresize = function() {
        bgadj();
 
    }
 
}
</script>
 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
    <script type="text/javascript">
.content {
margin-top:-30px !important;
} 
    </script>
  
<!-- NAVBAR
================================================== -->


<!-- Carousel
    ================================================== -->
    
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- icators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="<%= asset_path( 'mysteryland.png') %>" algn="middle"  class="center-block"  alt="First slide" >
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
        <div class="item">
          <img src="<%= asset_path( 'ultra.png') %>"  class="center-block" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
        <div class="item">
          <img src="<%= asset_path( 'lola.png') %>"  class="center-block"  alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

<hr width="80%">.
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <div class="row">

<div class="col-lg-2" >
</div>
<div class="col-lg-2" >
          

             <script src="../javascripts/Chart.js"></script>
            <div id="canvas-holder">
            <center>
              <canvas id="chart-area" height="150" width="150" style="width: 818px; height: 409px;"></canvas>
            </div>
              <script align="right">
              var data = {
    labels: ["", "", "", "", "", "", ""],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "#C0BEF1",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "#3B33DA",
            pointStrokeColor: "#3B33DA",
            pointHighlightFill: "#3B33DA",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        }
    ]
};

              
              var ctx = document.getElementById("chart-area").getContext("2d");
              window.myLineChart= new Chart(ctx).Line(data); 
             </script>
            </center>
          <h2><font color="white">Hashtags tiempo real</font></h2>
          <p><font color="white">Observa los momentos en que los eventos fueron más comentados.</font></p>
          <p><a class="btn btn-default" href="http://localhost:3000" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->


<div class="col-lg-1" >
</div>


        <div class="col-lg-2">

          <script src="../javascripts/Chart.js"></script>
            <div id="canvas-holder">
            <center>
              <canvas id="chart-area2" width="150" height="150"></canvas>
            </div>
              <script>
              var pieData = [{value:40,color:"#E32F2F",label: "u_u "},
              {value:60,color:"#5FE964",label: "n.n "}];

              var ctx = document.getElementById("chart-area2").getContext("2d");
              window.myPie = new Chart(ctx).Pie(pieData); 
             </script>
             </center>
          <h2><font color="white">Análisis de sentimiento</font></h2>
          <p><font color="white">Averigua que opina la gente de tus eventos favoritos.</font></p>

          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->



        

<div class="col-lg-1" >
</div>

        <div class="col-lg-2">

          <div id="canvas-holder">
          
            <canvas id="chart-area1" height="150" width="150" style="width: 818px; height: 409px;"></canvas>
          </div>
          <script>
              var data = {
    labels: [""],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "#E32F2F",
            strokeColor: "#E32F2F",
            highlightFill: "#E32F2F",
            highlightStroke: "#E32F2F",
            data: [30]
        },
        {
            label: "My Second dataset",
            fillColor: "#5FE964",
            strokeColor: "#5FE964",
            highlightFill: "#5FE964",
            highlightStroke: "#5FE964",
            data: [100]
        },
        {
            label: "My First dataset",
            fillColor: "#4038DE",
            strokeColor: "#4038DE",
            highlightFill: "#4038DE",
            highlightStroke: "#4038DE",
            data: [65]
        }
    ]
};




              var ctx = document.getElementById("chart-area1").getContext("2d");
              window.myBarChart = new Chart(ctx).Bar(data);

             </script>

          <h2><font color="white">Ránking</font></h2>
          <p><font color="white">¿Te has preguntado cuáles son los eventos mas populares? </font></p>
          <p><a class="btn btn-default" href="http://localhost:3000/ranking" role="button">Descubrelo! &raquo;</a></p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->


      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 MASIVO, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->
    