
<br>
<br>
<h1>Ranking</h1>


<table>                         
  <tr>  
    <th>Evento</th>
    <th>Menciones</th>
  </tr>
<% @ranks.each do |data| %>
  <tr>
    <td><%= data[0] %></td>
    <td><%= data[1] %></td>
  </tr>
<% end %>
</table>